
.menuButton {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;
  }
  
  .darkDrawer {
    background-color: #001529 !important; /* Dark background color */
    color: #fff; /* White text color */
  }

  button span svg {
    color: #fff; /* White text color */
  }